/**********************************
Header
/**********************************/

.navbar {
    position: absolute;
    width: 100%;
}

/**********************************
Landing Page
/**********************************/

.masthead {
    background-size: cover;
    padding: 16em 0;
    color: #FFF;
}

.jumbotron {
    background-color: transparent;
    text-align: center;
}

h1 {
    text-align: center;
}

.card {
    padding: 5em;
}

.card-body {
    text-align: center;
}

/**********************************
About Page
/**********************************/

.about {
    height: 600px;
    background-position: center;
    background-repeat: no-repeat;
}

