/**********************************
Header
/**********************************/

.navbar {
    position: absolute;
    width: 100%;
}

/**********************************
Body
/**********************************/

body {
    background-color: ghostwhite;
}

/**********************************
Landing Page
/**********************************/

.masthead {
    background-size: cover;
    padding: 18em 0;
    color: #FFF;
}

ul {
    list-style: none;
}

.jumbotron {
    background-color: transparent;
    text-align: center;
}

h1 {
    text-align: center;
}

.container {
    width: 100%;
}

.card {
    height: 25em;
}

.card-title {
    text-align: center;
    padding: 10px;
}

.back {
    background-color: #d3d3d3;
    border-radius: 5px;
}

.row {
    width: 100%;
}

.col-md-4 {
    height: 20em;
}

.card1 {
    background-image: url('./img/ggb.jpg');
    background-position: center;
}

.card2 {
    background-image: url('./img/lake.jpg');
    background-position: center;
}

.card3 {
    background-image: url('./img/linux.jpg');
    background-position: center;
}

.modal-content {
    transform: translateY(100%);
}

/**********************************
Footer
/**********************************/

footer {
    background-color: #292b2c!important;
    padding-top: 4em;
}

/**********************************
About Page
/**********************************/

.about {
    height: 600px;
    background-position: center;
    background-repeat: no-repeat;
}

/**********************************
Social Media Links
/**********************************/

.social-wrapper {
    position: absolute;
}

.social-list {
    background-color: transparent;
    padding: 2em;
}
